.headerMenu {
    width: 100%;
    height: 55px;
    margin-top: 0px;
    background-color: white;
    align-items: center;
    display: flex;
}

.div1 {
    display: inline-grid;
}

.btn {
    margin: auto;
    margin-top: 30px;
    width: 95%;
}
