<div style="width:40% ;height: 50%; margin: auto; margin-top: 10%">
  <div style="display: inline-grid;margin-right: 20%;">
    <mat-form-field class="full-width">
      <input [(ngModel)]="person.name" type="text" matInput placeholder="نام">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input [(ngModel)]="person.family" type="text" matInput placeholder="نام خانوادگی">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input appNumberInput [(ngModel)]="person.salary" type="text" matInput placeholder="حقوق ماهیانه ">
    </mat-form-field>

    <div *ngIf="!detail" style="margin-top: 20px">
      <dp-date-picker dir="ltr" [(ngModel)]="dateObject" mode="daytime" placeholder="تاریخ" theme="dp-material">
      </dp-date-picker>
    </div>

    <div *ngIf="!detail" style="margin-top:20px; display: flex">
      <button style="min-width: 38%;" mat-raised-button (click)="submit()">
        تایید
      </button>
    </div>
  </div>
</div>
