<div style="display: flex; align-items: center">

    <div style="margin-top: 50px; width: 30%; margin-left: 33%">
        <label for="inp" class="inp">
      <input
        *ngIf="!detail"
        [(ngModel)]="person.name"
        type="text"
        id="inp"
        placeholder="&nbsp;"
      />
      <h3 *ngIf="detail">{{ person.name }}</h3>
      <span *ngIf="!detail" class="label">name</span>
      <span class="border"></span>
    </label>
        <label for="inp" class="inp">
      <input
        *ngIf="!detail"
        [(ngModel)]="person.family"
        type="text"
        id="inp"
        placeholder="&nbsp;"
      />
      <h3 *ngIf="detail">{{ person.family }}</h3>
      <span *ngIf="!detail" class="label">family</span>
      <span class="border"></span>
      <h3 *ngIf="detail && person.dateObject">{{ person.dateObject | getTime : 'YYYY/MM/D' }}</h3>
    </label>
        <label for="inp" class="inp">
        <input
          *ngIf="!detail"
          [(ngModel)]="person.salary"
          type="text"
          id="inp"
          placeholder="&nbsp;"
        />
        <h3 *ngIf="detail">{{ person.salary }}</h3>
        <span *ngIf="!detail" class="label">salary</span>
        <span class="border"></span>
      </label>

        <div *ngIf="!detail" style="margin-top: 20px">
            <dp-date-picker dir="ltl" [(ngModel)]="dateObject" mode="daytime" placeholder="تاریخ" theme="dp-material">
            </dp-date-picker>
        </div>

        <div *ngIf="!detail" style="margin-top:20px">

            <button (click)="submit()" style="margin-top: 60px;width: 100%; height: 60px;" class="button">
        Submit
      </button>
        </div>
    </div>

</div>