<div>



  <div class="menu">
    <app-search-filter [tableData]="tableData1" (searched)="filter($event)"></app-search-filter>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">


      <ng-container *ngFor="let menu of tableData1.columns" matColumnDef="{{menu.field}}">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> {{menu.label}} </th>
        <td mat-cell [ngSwitch]="menu.type" *matCellDef="let element">
          <ng-container *ngSwitchCase="'KeyValue'">
            {{element[menu.field] | getValue: menu.pipeParam}}
          </ng-container>
          <ng-container *ngSwitchCase="'time'">
            {{ element[menu.field] | getTime: menu.format }}
          </ng-container>
          <ng-container *ngSwitchCase="'number'">
            {{ element[menu.field] | number }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ element[menu.field]}}
          </ng-container>

        </td>

      </ng-container>
      <ng-container *ngIf="tableData1.actions" matColumnDef="actions">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> عملیات</th>
        <td mat-cell *matCellDef="let element">

          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="tableData1.actions.delete" mat-menu-item
              (click)="openDeleteDialog($event,element['id'])">حذف</button>
            <button *ngIf="tableData1.actions.update" mat-menu-item
              [routerLink]="['./update', element['id']]">ویرایش</button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container *ngIf="tableData1.rate" matColumnDef="rate">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> امتیاز </th>
        <td mat-cell *matCellDef="let element">
          <app-rate [rate]="element['rate']"></app-rate>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="col"></tr>
      <tr mat-row *matRowDef="let row; columns: col;"></tr>
    </table>

    <mat-paginator class="mat-paginator" [length]="pager.length" [pageSize]="pager.pageSize"
      [pageIndex]="pager.pageIndex" [pageSizeOptions]="pager.pageSizeOptions" (page)="readPage($event)"></mat-paginator>

  </div>


</div>
