<div>
    <div>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                Price
                            </div>
                            <div class="cell">
                                Ordered
                            </div>
                            <div class="cell">
                                ID
                            </div>
                        </div>

                        <div *ngFor="let menu of Menu" class="row">
                            <div class="cell" data-title="Name">
                                {{ menu.name }}
                            </div>
                            <div class="cell" data-title="Price">
                                {{ menu.price }}
                            </div>
                            <div class="cell" data-title="Ordered">
                                27
                            </div>
                            <div class="cell" data-title="ID">
                                {{ menu.id }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
