<div>
    <div *ngIf="!detail" style="width:40% ;height: 50%; margin: auto; margin-top: 10%">
        <div style="display: inline-grid;margin-right: 20%;">
            <mat-form-field class="full-width">
                <input [(ngModel)]="food.name" type="text" matInput placeholder="نام">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input appNumberInput [(ngModel)]="food.price" type="text" matInput placeholder="قیمت">
            </mat-form-field>
            <mat-form-field>
                <mat-label>نوع غذا</mat-label>
                <mat-select [(ngModel)]="food.type">
                    <mat-option *ngFor="let ty of types" [value]="ty.key">
                        {{ ty.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div style="margin-top: 20px">
                <dp-date-picker dir="ltr" [(ngModel)]="dateObject" mode="daytime" placeholder="تاریخ"
                    theme="dp-material">
                </dp-date-picker>
            </div>
            <div style="margin-top:20px; display: flex">
                <div class="upload-btn-wrapper">
                    <button mat-raised-button color="primary">Upload an image</button>
                    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" />
                </div>
                <button style="margin-right: 18px; min-width: 38%;" mat-raised-button (click)="submit()">
                    تایید
                </button>
            </div>
        </div>
    </div>
</div>