.example-container {
    height: 92%;
    position: absolute;
    left: 0;
    right: 0;
}

.example-events {
    background-color: #c4d3f6;
    overflow: auto;
    border: 1px solid #555;
}



.div1 {
    display: inline-grid;
}

.btn {
    margin: auto;
    margin-top: 30px;
    width: 95%;
}
