<div style="width: auto;height: auto;">
    <label for="inp" class="inp">
    Are you sure delete {{ data.name }} ?
    <input
      [(ngModel)]="DeleteMessage"
      type="text"
      id="inp"
      placeholder="&nbsp;"
    />
    <span class="label">Delete For What?! </span>
    <span class="border"></span>
  </label>

    <div style="margin-top:50px; align-items: center">
        <button style=" width: 160px; height: 50px; " class="button" (click)="delete()">
      Ok
    </button>
        <button style=" width: 160px; height: 50px; margin-left: 15px;background-color: brown" class="button" (click)="close()">
      Close
    </button>
    </div>
</div>
