.div1 {
    width: 40%;
    height: auto;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: #838ddd;
}

.div2 {
    width: 60%;
}

.inp {
    position: relative;
    margin: auto;
    width: 30%;
}

.inp .label {
    position: relative;
    top: -4px;
    left: 6px;
    width: 400px;
    font-size: 11px;
    color: #3b4457;
    font-weight: 800;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 300px;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    border-bottom: 2px solid #425b92;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus+span {
    color: rgb(4, 9, 14);
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.btn1 {
    margin-left: 30px;
}

.btn2 {
    margin-left: 25px;
}

.btn3 {
    margin-left: 20px;
}

.btn4 {
    margin-left: 20px;
}

.img1 {
    align-self: auto;
    margin-left: 40px;
    width: 400px;
    height: 500px;
    background-color: #6c7ae0;
    border-radius: 10px;
}

.button {
    width: 100px;
    height: 50%;
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: #0981b1;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btns {
    margin-top: 6px;
    display: inline-grid;
    justify-items: left;
}

.btne {
    width: 100px;
    margin-top: 30px;
    background-color: #555555;
    background-size: 30px;
    height: 35px;
    font-size: 16px;
    color: #c4d3f6;
    border: #223254;
    border-radius: 8px;
}
