<div class="div1">
    <label for="inp" class="inp">
    <input [(ngModel)]="food.name" type="text" id="inp" placeholder="&nbsp;" />
    <span class="label">Name</span>
    <span class="border"></span>
  </label>
    <label for="inp" class="inp">
    <input [(ngModel)]="food.price" type="text" id="inp" placeholder="&nbsp;" />
    <span class="label">Price</span>
    <span class="border"></span>
  </label>
    <div>
        <button class="button" (click)="search()">Search</button>
        <button class="button1" (click)="close()">Close</button>
    </div>
</div>