<div>
    <div>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                Price
                            </div>
                            <div class="cell">
                                Ordered
                            </div>
                            <div class="cell">
                                ID
                                <button [routerLink]="['/create']" class="btn3">
                  Add Food
                </button>
                                <button (click)="openSearchDialog()" class="btn4">
                  Search
                </button>
                            </div>
                        </div>

                        <div *ngFor="let menu of Menu" class="row" (click)="selectedItem(menu.imageUrl)">
                            <div class="cell" data-title="Name">
                                {{ menu.name }}
                            </div>
                            <div class="cell" data-title="Price">
                                {{ menu.price }}
                            </div>
                            <div class="cell" data-title="Ordered">
                                27
                            </div>
                            <div class="cell" data-title="ID">
                                {{ menu.id }}

                                <button (click)="openDeleteDialog(menu)" class="btn1">
                  Delete
                </button>
                                <button [routerLink]="['/update-name']" [queryParams]="{
                    id: menu.id
                  }" class="btn2" (click)="reloadMenu()">
                  Update
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="img1">
                    <app-food-image [imageUrl]="imageUrl"></app-food-image>
                </div>
            </div>
        </div>
    </div>
</div>
